            <INVALIDATION-POLICY>
              <DATA-ELEMENT-REF DEST="VARIABLE-DATA-PROTOTYPE">/PortInterfaces/busin/{replace_signame}</DATA-ELEMENT-REF>
              <HANDLE-INVALID>DONT-INVALIDATE</HANDLE-INVALID>
            </INVALIDATION-POLICY>